{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Circus Records | Ruining Silence Since 2009</title>
        <meta name="description" content="Founded in 2009 by Doctor P and Flux Pavilion, Circus Records is a globally-recognised record label specialising in bass music.">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="Circus Records | Ruining Silence Since 2009">
        <meta itemprop="description" content="Founded in 2009 by Doctor P and Flux Pavilion, Circus Records is a globally-recognised record label specialising in bass music.">
        <meta itemprop="image" content="http://www.codemanta.com/mos/CIRCUS-LOGO1-Email.jpg">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="http://circus-records.co.uk">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Circus Records | Ruining Silence Since 2009">
        <meta property="og:description" content="Founded in 2009 by Doctor P and Flux Pavilion, Circus Records is a globally-recognised record label specialising in bass music.">
        <meta property="og:image" content="http://www.codemanta.com/mos/CIRCUS-LOGO1-Email.jpg">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Circus Records | Ruining Silence Since 2009">
        <meta name="twitter:description" content="Founded in 2009 by Doctor P and Flux Pavilion, Circus Records is a globally-recognised record label specialising in bass music.">
        <meta name="twitter:image" content="http://www.codemanta.com/mos/CIRCUS-LOGO1-Email.jpg">

        <link rel="icon" type="image/x-icon" href="{%  static 'favicon.ico' %}">
        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/dropdown.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/practice_site_1.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/carousel.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/dropdown.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/contact.js' %}"></script>
    </body>
</html>
